RewriteEngine on
ErrorDocument 400 /404.php
ErrorDocument 401 /404.php
ErrorDocument 403 /404.php
ErrorDocument 404 /404.php
ErrorDocument 500 /404.php
RewriteRule ^sitemap.txt$ map.php
RewriteRule ^order_giohang/del_giohang/([0-9]+)$ index1.php?act=cart2&action=del_giohang&id=$1
RewriteRule ^dang-ky-thanh-vien\.html$ index.php?home=dangkythanhvien
RewriteRule ^xuhuong\.html$ index.php?home=xuhuong&name=$1 
RewriteRule ^xuhuong\.html&p=([0-9]+)$ index.php?home=xuhuong&name=$1&p=$1
RewriteRule ^xuhuongcity\.html&city=([0-9]+)$ index.php?home=xuhuong&city=$1
RewriteRule ^xuhuongcity\.html&p=([0-9]+)$ index.php?home=xuhuong&p=$1
RewriteRule ^xuhuong\.html&by=price_special&order=asc$ index.php?home=xuhuong&name=$1&by=price_special&order=asc
RewriteRule ^xuhuong\.html&by=price_special&order=desc$ index.php?home=xuhuong&name=$1&by=price_special&order=desc
RewriteRule ^xuhuonggiare\.html$ index.php?home=xuhuong&name=$1&by=price_special&order=asc&p=$1
RewriteRule ^xuhuonggiare\.html&p=([0-9]+)$ index.php?home=xuhuong&name=$1&by=price_special&order=asc&p=$1
RewriteRule ^xuhuonggiacao\.html$ index.php?home=xuhuong&name=$1&by=price_special&order=desc&p=$1
RewriteRule ^xuhuonggiacao\.html&p=([0-9]+)$ index.php?home=xuhuong&name=$1&by=price_special&order=desc&p=$1
RewriteRule ^spm\.html$ index.php?home=spm&name=$1 
RewriteRule ^spm\.html&p=([0-9]+)$ index.php?home=spm&name=$1&p=$1
RewriteRule ^spmcity\.html&city=([0-9]+)$ index.php?home=spm&city=$1
RewriteRule ^spmcity\.html&p=([0-9]+)$ index.php?home=spm&p=$1
RewriteRule ^spm\.html&by=price_special&order=asc$ index.php?home=spm&name=$1&by=price_special&order=asc
RewriteRule ^spm\.html&by=price_special&order=desc$ index.php?home=spm&name=$1&by=price_special&order=desc
RewriteRule ^spmgiare\.html$ index.php?home=spm&name=$1&by=price_special&order=asc&p=$1
RewriteRule ^spmgiare\.html&p=([0-9]+)$ index.php?home=spm&name=$1&by=price_special&order=asc&p=$1
RewriteRule ^spmgiacao\.html$ index.php?home=spm&name=$1&by=price_special&order=desc&p=$1
RewriteRule ^spmgiacao\.html&p=([0-9]+)$ index.php?home=spm&name=$1&by=price_special&order=desc&p=$1
RewriteRule ^khuyenmai\.html$ index.php?home=khuyenmai&name=$1 
RewriteRule ^khuyenmai\.html&p=([0-9]+)$ index.php?home=khuyenmai&name=$1&p=$1
RewriteRule ^khuyenmaicity\.html&city=([0-9]+)$ index.php?home=khuyenmai&city=$1
RewriteRule ^khuyenmaicity\.html&p=([0-9]+)$ index.php?home=khuyenmai&p=$1
RewriteRule ^khuyenmai\.html&by=price_special&order=asc$ index.php?home=khuyenmai&name=$1&by=price_special&order=asc
RewriteRule ^khuyenmai\.html&by=price_special&order=desc$ index.php?home=khuyenmai&name=$1&by=price_special&order=desc
RewriteRule ^khuyenmaigiare\.html$ index.php?home=khuyenmai&name=$1&by=price_special&order=asc&p=$1
RewriteRule ^khuyenmaigiare\.html&p=([0-9]+)$ index.php?home=khuyenmai&name=$1&by=price_special&order=asc&p=$1
RewriteRule ^khuyenmaigiacao\.html$ index.php?home=khuyenmai&name=$1&by=price_special&order=desc&p=$1
RewriteRule ^khuyenmaigiacao\.html&p=([0-9]+)$ index.php?home=khuyenmai&name=$1&by=price_special&order=desc&p=$1
RewriteRule ^banchay\.html$ index.php?home=banchay&name=$1 
RewriteRule ^banchay\.html&p=([0-9]+)$ index.php?home=banchay&name=$1&p=$1
RewriteRule ^banchaycity\.html&city=([0-9]+)$ index.php?home=banchay&city=$1
RewriteRule ^banchaycity\.html&p=([0-9]+)$ index.php?home=banchay&p=$1
RewriteRule ^banchay\.html&by=price_special&order=asc$ index.php?home=banchay&name=$1&by=price_special&order=asc
RewriteRule ^banchay\.html&by=price_special&order=desc$ index.php?home=banchay&name=$1&by=price_special&order=desc
RewriteRule ^banchaygiare\.html$ index.php?home=banchay&name=$1&by=price_special&order=asc&p=$1
RewriteRule ^banchaygiare\.html&p=([0-9]+)$ index.php?home=banchay&name=$1&by=price_special&order=asc&p=$1
RewriteRule ^banchaygiacao\.html$ index.php?home=banchay&name=$1&by=price_special&order=desc&p=$1
RewriteRule ^banchaygiacao\.html&p=([0-9]+)$ index.php?home=banchay&name=$1&by=price_special&order=desc&p=$1
RewriteRule ^dang-ky-thanh-vien-popup\.html$ index1.php?home=dangkythanhvien_popup
RewriteRule ^dang-ky-thanh-vien-popup-ok\.html$ index1.php?home=dangkythanhvien_popup&alert=1
RewriteRule ^dang-ky-gian-hang\.html$ index.php?home=regestry
RewriteRule ^dang-ky-gian-hang\.html&p=([0-9]+)$ index.php?home=regestry&p=$1
RewriteRule ^pages/([0-9]+)\.html$ index.php?p=$1
RewriteRule ^(.*)-ct-([0-9]+)\.html$ index.php?home=category&name=$1&cat=$2
RewriteRule ^(.*)-ct-([0-9]+)\.html&p=([0-9]+)$ index.php?home=category&name=$1&cat=$2&p=$3
RewriteRule ^(.*)-ct-([0-9]+)\.html&city=([0-9]+)$ index.php?home=category&name=$1&cat=$2&city=$3
RewriteRule ^(.*)-ct-([0-9]+)\.html&city=([0-9]+)&p=([0-9]+)$ index.php?home=category&name=$1&cat=$2&city=$3&p=$4
RewriteRule ^(.*)-ct-([0-9]+)\.html&by=price_special&order=asc$ index.php?home=category&name=$1&cat=$2&by=price_special&order=asc
RewriteRule ^(.*)-ct-([0-9]+)\.html&by=price_special&order=desc$ index.php?home=category&name=$1&cat=$2&by=price_special&order=desc
RewriteRule ^(.*)-ct-([0-9]+)\.html&p=([0-9]+)&by=price_special&order=asc$ index.php?home=category&name=$1&cat=$2&p=$3&by=price_special&order=asc
RewriteRule ^(.*)-ct-([0-9]+)\.html&p=([0-9]+)&by=price_special&order=desc$ index.php?home=category&name=$1&cat=$2&p=$3&by=price_special&order=desc
RewriteRule ^(.*)-pro-([0-9]+)\.html$ index1.php?home=products&name=$1&views=$2
RewriteRule ^quen-mat-khau\.html$ ?home=forgotpass
RewriteRule ^quen-mat-khau-shop\.html$ ?home=forgotpass_shop
RewriteRule ^news\.html$ index.php?home=news
RewriteRule ^thongbao\.html$ index.php?home=member&act=thongbao
RewriteRule ^yeuthich\.html$ index.php?home=member&act=pro_tick
RewriteRule ^news/(.*)-catn-([0-9]+)\.html$ index.php?home=news&act=cat&name=$1&cat=$2
RewriteRule ^news/(.*)-catn-([0-9]+)\.html&p=([0-9]+)$ index.php?home=news&act=cat&name=$1&cat=$2&p=$3
RewriteRule ^news/(.*)-vn-([0-9]+)\.html$ index.php?home=news&act=views&name=$1&id=$2
RewriteRule ^gian-hang\.html$ index.php?home=store
RewriteRule ^gian-hang\.html&p=([0-9]+)$ index.php?home=store&p=$1
RewriteRule ^gian-hang/(.*)-catn-([0-9]+)\.html$ index.php?home=store&act=cat&name=$1&cat=$2
RewriteRule ^gian-hang/(.*)-catn-([0-9]+)\.html&p=([0-9]+)$ index.php?home=store&act=cat&name=$1&cat=$2&p=$3
RewriteRule ^rao-vat\.html$ index.php?home=adv
RewriteRule ^rao-vat\.html&p=([0-9]+)$ index.php?home=adv&p=$1
RewriteRule ^rao-vat/(.*)-catn-([0-9]+)\.html$ index.php?home=adv&act=cat&name=$1&cat=$2
RewriteRule ^rao-vat/(.*)-catn-([0-9]+)\.html&p=([0-9]+)$ index.php?home=adv&act=cat&name=$1&cat=$2&p=$3
RewriteRule ^rao-vat/(.*)-vn-([0-9]+)\.html$ index.php?home=adv&act=views&name=$1&id=$2
RewriteRule ^tuyen-dung\.html$ index.php?home=job
RewriteRule ^tuyen-dung\.html&p=([0-9]+)$ index.php?home=job&p=$1
RewriteRule ^tuyen-dung/(.*)-catn-([0-9]+)\.html$ index.php?home=job&act=cat&name=$1&cat=$2
RewriteRule ^tuyen-dung/(.*)-catn-([0-9]+)\.html&p=([0-9]+)$ index.php?home=job&act=cat&name=$1&cat=$2&p=$3
RewriteRule ^tuyen-dung/(.*)-vn-([0-9]+)\.html$ index.php?home=job&act=views&name=$1&id=$2
RewriteRule ^danh-ba-doanh-nghiep\.html$ index.php?home=company
RewriteRule ^danh-ba-doanh-nghiep\.html&p=([0-9]+)$ index.php?home=company&p=$1
RewriteRule ^danh-ba-doanh-nghiep/(.*)-catn-([0-9]+)\.html$ index.php?home=company&act=cat&name=$1&cat=$2
RewriteRule ^danh-ba-doanh-nghiep/(.*)-catn-([0-9]+)\.html&p=([0-9]+)$ index.php?home=company&act=cat&name=$1&cat=$2&p=$3
RewriteRule ^danh-ba-doanh-nghiep/(.*)-vn-([0-9]+)\.html$ index.php?home=company&act=views&name=$1&id=$2
RewriteRule ^help$ index.php?home=help

RewriteRule ^help&p=([0-9]+)$ index.php?home=help&p=$1
RewriteRule ^help/(.*)-cath-([0-9]+)\.html$ index.php?home=help&act=cat&name=$1&cat=$2
RewriteRule ^help/(.*)-cath-([0-9]+)\.html&p=([0-9]+)$ index.php?home=help&act=cat&name=$1&cat=$2&p=$3
RewriteRule ^help/(.*)-vh-([0-9]+)-([0-9]+)\.html$ index.php?home=help&act=views&name=$1&views=$2&cat=$3
RewriteRule ^dich-vu/([a-zA-Z0-9_-]+)/([0-9]+)/([0-9]+)\.html$ index.php?index=info&name=$1&id=$2&cat=$3
RewriteRule ^tinh-nang/([a-zA-Z0-9_-]+)/([0-9]+)/([0-9]+)\.html$ index.php?index=info&name=$1&id=$2&cat=$3
RewriteRule ^san-pham/([a-zA-Z0-9_-]+)/([0-9]+)/([0-9]+)\.html$ index.php?index=info&name=$1&id=$2&cat=$3
RewriteRule ^giao-dien/([0-9]+)/([a-zA-Z0-9_-]+)\.html$ index.php?index=store&cat=$1&name=$2
RewriteRule ^([a-zA-Z0-9_-]+)$ gianhang.php?user=$1
RewriteRule ^store\.aspx$ gianhang.php
RewriteRule ^([a-zA-Z0-9_-]+)/admin$ gianhang.php?user=$1&quantri=admin
RewriteRule ^([a-zA-Z0-9_-]+)/category/([0-9]+)\.html$ gianhang.php?user=$1&home=category&cat=$2
RewriteRule ^([a-zA-Z0-9_-]+)/category/([0-9]+)/([a-zA-Z0-9_-]+)\.html$ gianhang.php?user=$1&home=category&cat=$2&name=$3
RewriteRule ^danh-muc/([a-zA-Z0-9_-]+)/([a-zA-Z0-9_-]+)\.html$ index.php?home=category&cat=$1&name=$2
RewriteRule ^([a-zA-Z0-9_-]+)/tin-tuc/news_all\.html$ gianhang.php?user=$1&home=news_all
RewriteRule ^([a-zA-Z0-9_-]+)/tin-tuc/([0-9]+)/([a-zA-Z0-9_-]+)\.html$ gianhang.php?user=$1&home=catnews&cat=$2&name=$3
RewriteRule ^([a-zA-Z0-9_-]+)/service/([0-9]+)/([a-zA-Z0-9_-]+)\.html$ gianhang.php?user=$1&home=catservice&cat=$2&name=$3
RewriteRule ^([a-zA-Z0-9_-]+)/service/service_all\.html$ gianhang.php?user=$1&home=service_all
RewriteRule ^tin-tuc/([0-9]+)/([a-zA-Z0-9_-]+)\.html$ index.php?home=catnews&cat=$1&name=$2
RewriteRule ^tin-tuc/news_all\.html$ index.php?home=news_all
RewriteRule ^service/service_all\.html$ index.php?home=service_all
RewriteRule ^tin-tuc/([0-9]+)/(.*)\.html&p=([0-9]+)$ index.php?home=catnews&cat=$1&name=$2&p=$3
RewriteRule ^service/([0-9]+)/([a-zA-Z0-9_-]+)\.html$ index.php?home=catservice&cat=$1&name=$2
RewriteRule ^service/([0-9]+)/([a-zA-Z0-9_-]+)\.html&p=([0-9]+)$ index.php?home=catservice&cat=$1&name=$2&p=$3
RewriteRule ^([a-zA-Z0-9_-]+)/products/([0-9]+)/([0-9]+)/([a-zA-Z0-9_-]+)\.html$ gianhang.php?user=$1&home=product_view&p=$2&cat=$3&name=$4
RewriteRule ^products/([0-9]+)/([0-9]+)/(.*)\.html$ index.php?home=product_view&p=$1&cat=$2&name=$3
RewriteRule ^([a-zA-Z0-9_-]+)/news-views/([0-9]+)/([0-9]+)/([a-zA-Z0-9_-]+)\.html$ gianhang.php?user=$1&home=news_view&p=$2&cat=$3&name=$4
RewriteRule ^news-views/(.*)/(.*)/(.*)\.html$ index.php?home=news_view&p=$1&cat=$2&name=$3
RewriteRule ^([a-zA-Z0-9_-]+)/service-views/([0-9]+)/([0-9]+)/([a-zA-Z0-9_-]+)\.html$ gianhang.php?user=$1&home=service_view&p=$2&cat=$3&name=$4
RewriteRule ^service-views/(.*)/(.*)/(.*)\.html$ index.php?home=service_view&p=$1&cat=$2&name=$3
RewriteRule ^([0-9]+)/(.*)\.html$ index.php?home=module_menu&id=$1&name=$2
RewriteRule ^([a-zA-Z0-9_-]+)/([0-9]+)/([a-zA-Z0-9_-]+)\.html$ gianhang.php?user=$1&home=module_menu&id=$2&name=$3
RewriteRule ^([a-zA-Z0-9_-]+)/mua-hang/([0-9]+)\.html$ gianhang.php?user=$1&home=cart&p=$2
RewriteRule ^mua-hang/([0-9]+)\.html$ index.php?home=cart&p=$1
RewriteRule ^([a-zA-Z0-9_-]+)/xoa-san-pham/([0-9]+)\.html$ gianhang.php?user=$1&home=cart&act=del&pos=$2
RewriteRule ^xoa-san-pham-([0-9]+)\.html$ index.php?home=cart&act=del&pos=$1
RewriteRule ^xoa-san-pham1-([0-9]+)\.html$ index1.php?home=cart1&act=del&pos=$1
RewriteRule ^xoa-san-pham2-([0-9]+)\.html$ index1.php?home=cart2&act=del&pos=$1
RewriteRule ^([a-zA-Z0-9_-]+)/payment\.html$ gianhang.php?user=$1&home=checkout
RewriteRule ^payment\.html$ index.php?home=checkout

RewriteRule ^change_pass\.html$ index.php?home=member&act=change_pass
RewriteRule ^thong-tin-tai-khoan\.html$ index.php?home=member&act=change_account
RewriteRule ^quan-ly-don-hang\.html$ index.php?home=member&act=quanlydonhang
RewriteRule ^vi-diem-lua\.html$ index.php?home=member&act=vidiemlua
RewriteRule ^shop-yeu-thich\.html$ index.php?home=member&act=shopyeuthich



RewriteRule ^([a-zA-Z0-9_-]+)/san-pham\.html$ gianhang.php?user=$1&home=all_pro
RewriteRule ^san-pham\.html$ index.php?home=all_pro
RewriteRule ^([a-zA-Z0-9_-]+)/cart\.html$ gianhang.php?user=$1&home=cart
RewriteRule ^cart\.html$ index1.php?home=cart
RewriteRule ^cart\.html$ index.php?index=cart
RewriteRule ^cart_popup\.html$ index1.php?home=cart2
RewriteRule ^gioi-thieu\.html$ index.php?home=about
RewriteRule ^ban-do\.html$ index.php?home=map
RewriteRule ^hoi-dap\.html$ index.php?home=request
RewriteRule ^lien-he\.html$ index.php?home=contact
RewriteRule ^lien-he-us\.html$ index.php?index=contact
RewriteRule ^([a-zA-Z0-9_-]+)/gioi-thieu\.html$ gianhang.php?user=$1&home=about
RewriteRule ^([a-zA-Z0-9_-]+)/ban-do\.html$ gianhang.php?user=$1&home=map
RewriteRule ^([a-zA-Z0-9_-]+)/hoi-dap\.html$ gianhang.php?user=$1&home=request
RewriteRule ^([a-zA-Z0-9_-]+)/lien-he\.html$ gianhang.php?user=$1&home=contact
RewriteRule ^trang/([0-9]+)\.html$ index.php?home=search&act&p=$1
RewriteRule ^([a-zA-Z0-9_-]+)/trang/([0-9]+)\.html$ gianhang.php?user=$1&home=search&act&p=$2
RewriteRule ^category-([0-9]+)/trang-([0-9]+)\.html$ index.php?home=category&cat=$1&p=$2
RewriteRule ^([a-zA-Z0-9_-]+)/category-([0-9]+)/trang-([0-9]+)\.html$ gianhang.php?user=$1&home=category&cat=$2&p=$3
RewriteRule ^list_shop-([0-9]+)/trang-([0-9]+)\.html$ index.php?home=list_shop&cat=$1&p=$2
RewriteRule ^([a-zA-Z0-9_-]+)/list_shop-([0-9]+)/trang-([0-9]+)\.html$ gianhang.php?user=$1&home=list_shop&cat=$2&p=$3
RewriteRule ^home/trang-([0-9]+)\.html$ index.php?home=all_pro&p=$1
RewriteRule ^([a-zA-Z0-9_-]+)/home/trang-([0-9]+)\.html$ gianhang.php?user=$1&home=all_pro&p=$2
RewriteRule ^Default\.aspx$ index.php
RewriteRule ^index\.html$ index.php
RewriteRule ^&p=([0-9]+)$ index.php?home&p=$1
RewriteRule ^index\.html&p=([0-9]+)$ index.php?home&p=$1
RewriteRule ^cac-goi-gian-hang\.html$ index1.php?home=goiweb
RewriteRule ^kiem-tra-don-hang\.html$ index1.php?home=kiemtradonhang
RewriteRule ^hinh-thuc-thanh-toan\.html$ ?home=thanhtoan

RewriteBase /

 