.style_mem {
    float: left;
}
 
.style_mem ul {
    float: left;
    list-style: none;
	margin:0px;
	padding-top:0px;
	z-index:8600
}
 
.style_mem ul li {
    float: left;
	z-index:8600
}
 
.style_mem li a {
    display: block;
	padding-right:20px;
	padding-left:3px;
    color: #00a2e8;
	font-family:tahoma;
    text-decoration: none;
	background-image:url('icon_cat.jpg');
	background-repeat:no-repeat;
	background-position: 100% 90%;
	z-index:8600
}
.style_mem li a:visited 
{
color: #00a2e8;
} 
.style_mem li a:hover {
    background-color: transparent;
	z-index:8600
}
 
.style_mem li ul{
    position: absolute;
    display: none;
    width: 180px;
	border:1px solid #C0C0C0;
	background-color:#FFFFFF;
	background-image: url('images/ul.png');
	z-index:8700;
}
.style_mem li ul a
{
    padding-left: 10px;
    margin-top:0px;
    color: #535353;
	font-size:12px;
	font-weight: none;
	border-bottom:1px solid #C0C0C0;
	background-image:url('images/menu_li.png');
    padding-bottom: 5px;
    padding-top: 5px;
	
	
}
.style_mem li ul a:hover{
    color: #FF0000;
	background-color:#C0C0C0;
}
 
.style_mem li:hover ul{
    display: block;
}
 
.style_mem ul li ul li {
    width: 100%;
}
 
.style_mem li:hover > a{
    background-color: transparent;
}
.style_post {
    float: left;
}
 
.style_post ul {
    float: left;
    list-style: none;
	margin:0px;
	padding-top:0px;
	z-index:8600
}
 
.style_post ul li {
    float: left;
	z-index:8600
}
 
.style_post li a {
	padding-right:20px;
	padding-left:3px;
	font-family:tahoma;
    text-decoration: none;
	background-image:url('icon_cat.jpg');
	background-repeat:no-repeat;
	background-position: 100% 90%;
	z-index:8600
}
.style_post li a:visited 
{
} 
.style_post li a:hover {
    background-color: transparent;
	z-index:8600
}
 
.style_post li ul{
    float:left;
	padding-left: 0px;
	display: none;
    position: absolute;
    width: 180px;
	border:1px solid #C0C0C0;
	background-color:#FFFFFF;
	background-image: url('images/ul.png');
	z-index:8700;
}
.style_post li ul a
{
    margin-top:0px;
    color: #535353;
	font-size:11px;
	font-weight: none;
	background-image:url('images/menu_li.png');
    padding-bottom: 5px;
    padding-top: 5px;
	width:100%;
	
	
}
.style_post li ul a:hover{
    color: #FF0000;
	background-color:#C0C0C0;
}
 
.style_post li:hover ul{
    display: block;
}
 
.style_post ul li ul li {
    text-align:left;
    width: 100%;
	border-bottom:1px solid #C0C0C0
}
 
.style_post li:hover > a{
    background-color: transparent;
}